@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d7d7d7;
  border-radius: 7px;
  padding: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  filter: grayscale(90%);
}

.card-wrapper {
  padding: 20px;
  filter: grayscale(90%);
}

/* .card-wrapper:not(:hover) {
} */

.card-wrapper:hover {
  filter: grayscale(60%);
}

.card:hover {
  filter: grayscale(60%);
  cursor: pointer;
}

.card-image {
  max-width: 300px;
  border-radius: 7px 7px 0 0;
}

.card-name {
  font-size: 1.2rem;
  padding-top: 5px;
}

.date {
  padding-top: 5px;
  padding-bottom: 10px;
}

.bio {
  font-family: "Satisfy", cursive;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}
.card-closed {
  display: none;
}

.card-open {
  transition: all 0.5s ease-in-out;
  display: contents;
}

.audio-button {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  height: 50px;
  width: 50px;
  transition: background-color 0.3s;
  padding: 10px;
}

.audio-button:hover {
  background-color: #878686;
}

.audio-button-wrapper {
  padding: 10px;
}

/* .audio-button img {
  height: 20px;
  width: 20px;
} */
